*{
    margin : 0;
    padding: 0;
}
.about{
    background-color: #232741;
    height:700px;

}
 img{
    height:600px;
    width: 400px;
    border-radius: 5%;
}
.about-text{
margin-top: 150px;
}
.about-text p{
    font-size:20px;
}