.navbar{
    background-color: #5b7ae2;
    width:100%;
    height:60px;
    top:0;
    z-index: 1;
}
.name{
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}
a{
    color:#ffffff;
    font-size: 25px;
    font-weight:700;
}
a:hover{
    color:#271880;
    transition:1s;
}
.resume{
    background-color: #292d5a;
    border-radius: 10px;
}
.resume:hover{
    background-color: #151941;
    color:rgb(165, 151, 167);
}