.navbar{
    background-color: #5b7ae2;
    width:100%;
    height:60px;
    top:0;
    z-index: 1;
}
.name{
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}
a{
    color:#ffffff;
    font-size: 25px;
    font-weight:600;
}
a:hover{
    color:rgb(38, 16, 163);
}
.resume{
    background-color: #2e3361;
    border-radius: 10px;
}
.resume:hover{
    background-color: rgb(74, 165, 47);
    color: rgba(240, 11, 11, 0.472);
}